body.dark
{
    background: #202020;
    color: #e5e5e5;
}

body.dark .header
{
    background: #373737;
    color: #f4f4f4;
    box-shadow: inset 0px -15px 30px -20px #007ac2;
}

body.dark .button
{
    background: #007ac2;    
    color: #f4f4f4;
    box-shadow: inset 0 0 2px 0 #1d2225;
}

body.dark .button:hover
{
    background: #007ac2;
    box-shadow: 0 0 5px 0 #1d2225;
}

body.dark .button:active
{
    box-shadow: inset 0 0 2px 0 #1d2225;
}

body.dark .name-color
{
    color: #007ac2;
}

body .dark .warning
{
    color: #e5e5e5;
}

body.dark .error
{
    color: #b00103;
}